<!DOCTYPE html>
<html>

<head>
    <title>Index | Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
    <title>Index | Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="{{ url_for('static', filename='mystyle.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>


    <!-- --------- FORM ---------- -->
    <div class="container">
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Edit Adoption</h1>
                <form action="/update/{{ pet._id }}" method="POST">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="np" name="np" placeholder="Nama Pemilik"
                            value="{{ pet.np }}" required>
                        <label for="np">Nama Pemilik</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="kontak" name="kontak" placeholder="Contact Person"
                            value="{{ pet.kontak }}" required>
                        <label for="kontak">Contact Person</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="kota" name="kota" placeholder="Asal Kota"
                            value="{{ pet.kota }}" required>
                        <label for="kota">Asal Kota</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" id="spesies" name="spesies"  required
                            onchange="redirectToPage(this.value)">
                        
                            <option value="cat" selected={{ True if pet.spesies == "cat" else False }}>Cat</option>
                            <option value="dog" selected={{ True if pet.spesies == "dog" else False }}>Dog</option>
                            <option value="rabbit" selected={{ True if pet.spesies == "rabbit" else False }}>Rabbit</option>
                            <option value="hamster"selected={{ True if pet.spesies == "hamster" else False }}>Hamster</option>
                        </select>
                        <label for="spesies">Spesies</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="nh" name="nh" placeholder="Nama Hewan"
                            value="{{ pet.nh }}" required>
                        <label for="nh">Nama Hewan</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="gender" name="gender" placeholder="Gender"
                            value="{{ pet.gender }}" required>
                        <label for="gender">Gender</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="keterangan" name="keterangan"
                            value="{{ pet.keterangan }}" placeholder="Keterangan" required>
                        <label for="keterangan">Keterangan</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="usia" name="usia" placeholder="Usia Hewan"
                            value="{{ pet.usia }}" required>
                        <label for="usia">Usia Hewan</label>
                    </div>
                    <button type="submit" class="btn btn-outline-success btn-md">Submit</button>
                    <button type="button" class="btn btn-outline-danger btn-md" onclick="window.location.href='/mypets'">Cancel</button>

                </form>
            </div>
        </div>
        <div class="row justify-content-start" id="cards-box">
        </div>
    </div>

</body>

</html>